.popup__button-save {
  width: 83.26%;
  height: 50px;
  margin: 48.5px auto 37px auto;
  padding: 0;
  border-radius: 2px;
  border: none;
  background-color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.popup__button-save:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
  cursor: url(../../../images/logo/pointer.png) 1 2, pointer;
  transition: cursor 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 615px) {
  .popup__button-save {
    width: calc(100% - 44px);
    height: 48px;
    margin: 44px auto 25px auto;
    font-size: 14px;
    line-height: 17px;
  }
}